.selection-view {
  display: flex;
  padding: 2em;
  min-height: calc(100vh - 11rem);
  max-height: calc(100vh - 8rem);
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.advice-background {
  background: linear-gradient(0deg, #f27a7d, #f7d486, #c5f9d7);
  background-size: 400% 400%;
  -webkit-animation: GradientAnimation 15s ease infinite;
  -moz-animation: GradientAnimation 15s ease infinite;
  animation: GradientAnimation 15s ease infinite;
}

.compliment-background {
  background: linear-gradient(0deg, #c5f9d7, #f7d486, #f27a7d);
  background-size: 400% 400%;
  -webkit-animation: GradientAnimation 15s ease infinite;
  -moz-animation: GradientAnimation 15s ease infinite;
  animation: GradientAnimation 15s ease infinite;
}

.selection-topbar {
  position: absolute;
  top: 8rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar-btn {
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  filter: drop-shadow(0 0 0.75rem rgba(16, 55, 131, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #ffffff;
  font-size: 2.25rem;
}

.link-style {
  text-decoration: none;
}

.selection-view-text {
  filter: drop-shadow(0 0 0.75rem rgba(16, 55, 131, 0.5));
  letter-spacing: 0.1rem;
  font-size: 3rem;
  text-align: center;
  max-width: 39rem;
}

.selection-view-text::first-letter {
  text-transform: uppercase;
}
