.selection-topbar {
  position: absolute;
  top: 7rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.selection-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-view-text {
  filter: drop-shadow(0 0 0.75rem rgba(16, 55, 131, 0.5));
  letter-spacing: 0.1rem;
  font-size: 3rem;
  text-align: center;
  max-width: 39rem;
}

.selection-view-text::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .selection-topbar {
    position: fixed;
    top: 12rem;
  }

  .selection-view-text {
    width: 18.5rem;
    max-width: 100%;
  }
}
