.favorites {
  width: 50%;
  align-items: flex-start;
}

.favorites-card {
  flex: 1;
  background-color: #ffffff;
  color: #103783;
  padding: 2rem;
  min-width: -webkit-fill-available;
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.75rem rgba(16, 55, 131, 0.5));
  overflow: scroll;
}

.favorite-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.favorites-content {
  padding-top: 0.5rem;
}

.favorites-heading {
  font-size: 2rem;
  margin: 0;
}

.favorite-text {
  font-weight: 700;
  font-size: 1.25rem;
}

.favorite-text::first-letter {
  text-transform: uppercase;
}

.with-heart {
  padding-left: 1rem;
}

.favorite-view-heart {
  color: #f27a7d;
  filter: none;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  .favorites {
    width: 100%;
    /* min-height: 200px; */
  }
}


