.selections {
  width: 50%;
}

.selection-heading {
  font-size: 3rem;
  text-align: center;
  max-width: 29rem;
  filter: drop-shadow(0 0 0.75rem rgba(16, 55, 131, 0.5));
}

@media screen and (max-width: 768px) {
  .selections {
    width: 100%;
    min-height: 400px;
  }
}
