body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  color: #ffffff;
  border: 2px solid #103783;
}
h1,
h2 {
  font-family: "Righteous", cursive;
}

p,
button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.link-style {
  text-decoration: none;

  color: white;
}
